:root {
  /* первичный цвет текста */
  --primary-text-color: #757575;
  /* вторичный цвет текста */
  --secondary-text-color: #212121;
  --accent-text-color: #2196f3;
  /* первичный цвет фона */
  --primary-background-color: #f5f5f5;
  /* вторичный цвет фона */
  --secondary-background-color: #f5f4fa;
}
/* Стили для index.html  */
.body {
  background-color: #f5f5f5;
}

/* html + portfolio */
.logo-heder {
  color: #000000;
  text-decoration: none;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
/* html + portfolio */
.net {
  color: var(--accent-text-color);
}
/* html + portfolio */
.nav-site {
  list-style: none;
}
/* html + portfolio */
.nav-site .link {
  color: var(--secondary-text-color);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.nav-site .link:hover,
.nav-site .link:focus {
  color: var(--accent-text-color);
}

.nav-site .link.current {
  color: var(--accent-text-color);
}

.contact {
  list-style: none;
}
.contact .link {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  text-decoration: none;
}
.contact .link:hover,
.contact .link:focus {
  color: var(--accent-text-color);
}

.hero {
  background-color: #2f303a;
}
.hero-title {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.section > ul {
  list-style: none;
}
.section {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.section .section-titel {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.team-section > ul {
  list-style: none;
}
.team-section {
  background-color: var(--secondary-background-color);
  color: var(--primary-text-color);
}
.team-titel {
  color: var(--secondary-text-color);
  text-align: center;
}

.team-card {
  background-color: #ffffff;
}

/* html + portfolio */
.footer {
  background-color: #2f303a;
}

.logo-footer {
  color: #ffffff;
  text-decoration: none;

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.address > ul {
  list-style: none;
}
.address {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address .map {
  color: #ffffff;
  text-decoration: none;
}
.address .link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.button {
  color: #ffffff;
  background-color: var(--accent-text-color);
}

/* Стили для portfolio.html */

.filter {
  list-style: none;
}
.radio-button {
  color: var(--secondary-text-color);
  background-color: var(--secondary-background-color);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.radio-button:hover,
.radio-button:focus {
  color: var(--accent-text-color);
}

.work {
  list-style: none;
}

.work-title {
  color: var(--secondary-text-color);

  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-link {
  color: var(--primary-text-color);
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
